.delivery {
  padding: 72px 200px 232px 200px;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #585858;
}

.form-check-input {
  border: 1px solid #585858;
  margin-right: 12px;
}

