.subscribe {
  padding-top: 140px;
  padding-bottom: 180px;
}

.main-heading-subscribe {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  background: url("../../../../img/leaves.png");
  color: transparent;
  -webkit-background-clip: text;
  animation: animate 100s infinite linear;
  animation-direction: alternate;
}

@keyframes animate {
  0% {
    background-position: -10% -10%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: -10% -10%;
  }
}

.subscribe__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  padding-top: 28px;
}

.form__input::placeholder {
  color: #c9c9c9;
}

.form__input {
  width: 530px;
  height: 62px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #878787;
  outline: none;
  padding-left: 16px;
  font-size: 20px;
  line-height: 22px;
}

.form__btn:hover {
  background-color: #4E5D3B;
}

.form__btn:active {
  background-color: #344025;
}

.form__btn {
  margin-top: 1px;
  margin-left: -1px;
  width: 206px;
  height: 62px;
  background-color: #6E8254;
  border-radius: 0px 4px 4px 0px;
  border: none;
  font-size: 20px;
  line-height: 128%;
  color: #fff;
}

.form__text {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  line-height: 22px;
  color: #878787;
}

.form__text-link {
  display: inline;
  color: rgba(81, 119, 78, 0.8);
}
