.container-shop {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  max-width: 1170px;
  padding-bottom: 232px;
}

.main-heading-catalog {
  padding-top: 68px;
  text-align: left;
  font-weight: 500;
  font-size: 36px;
  line-height: 148%;
  color: #c28686;
}

.shop-navigation__links{
  padding-top: 68px;
}