.blog {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../../../img/blog/blog_bg.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 72px;
}

/* .blog__bg {
  padding-top: 160px;
  padding-bottom: 255px;
} */

.blog__title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 148%;
  color: #6E8254;
  margin-bottom: 84px;
}

.blog__topics {
  padding-top: 60px;
  padding-bottom: 52px;
}

.blog__topic-active:hover {
  background-color: #9E6A6A !important;
}

.blog__topic-active {
  background-color: #c28686 !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.blog__topics button {
  width: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #c28686;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 124%;
  border: 1px solid #c28686;
  background-color: transparent;
  border-radius: 48px;
  margin-right: 24px;
}

.blog__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog__card-item {
  width: 370px;
  /* height: 370px; */
  /* margin-right: 24px; */
  /* background-color: #fff; */
  border-radius: 4px;
  background-image: none;
  opacity: 1;
  position: relative;

}

.blog__card-item:hover {
  box-shadow: 2px 2px 40px rgba(67, 41, 41, 0.4);
}

.blog__card-item:hover .blog__card-hover {
  opacity: 1;
}

/* карточка при наведении */

.blog__card-visible {
  /* display: block;
  position: relative;
  transition: all 0.3; */

  display: flex;
  position: relative;
  transition: all 0.3;
  flex-direction: column;
  justify-content: flex-end;
  
}

.blog__card-visible img {
  border-radius: 4px;
  position: relative;
}

.blog__card-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 370px;
  /* margin-right: 24px; */
  background-color: rgba(14, 14, 14, 0.5);
  border-radius: 4px;
  text-align: center;
  transition: all 0.3;
  padding-top: 129px;
}

.card__title-hover {
  display: block;
  padding: 0 18px;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  margin-top: 82px;
}

.card__btn-hover {
  padding: 16px 68px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 128%;
  color: #fff;
  
}

/*  */

.card__title {
  display: block;
  position: absolute;
  padding: 63px 26px;
  /* font-size: 20px; */
  /* line-height: 140%; */
  z-index: 10;
  color: #fff;

  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.card__info {
  z-index: 20;
  /* padding-bottom: 28px; */
  width: 100%;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  padding: 28px 28px;
  /* color: #878787; */
  position: absolute;
  color: #fff;
  font-size: 14px;
}

.card__info-date {
  display: flex;
  text-align: right;
  font-size: 16px;
  line-height: 124%;
  color: #C9C9C9;

}

.card__info-viewers span{
  margin-left: 8px;
  font-size: 16px;
  line-height: 124%;
  color: #C9C9C9;
}
.card__info-viewers{
  display: flex;
  align-items: center;
}

.card__info-viewers img {
  margin-right: 4px;
}

.blog__card-item:last-child {
  margin-right: 0px;
}


/*  */

.blog__btns a{
  padding: 16px 38px;
  border-radius: 4px;
  
  border: 1px solid #6E8254;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.blog__btns{
  display: flex;
  padding-top: 92px;
  justify-content: center;
}

.blog__btn-catalog:hover{
  background-color: #4E5E3B;
}

.blog__btn-catalog:active{
  background-color: #344025;
}

.blog__btn-catalog{
  background-color: #6E8254;
  color: #fff;
  margin-right: 33px;
}

.blog__btn-more:hover{
  background-color: #4E5E3B;
  color: #fff;
}

.blog__btn-more:active{
  background-color: #344025;
  color: #fff;
}

.blog__btn-more{
  color: #6E8254;
  background-color: transparent;
}

.blog-up span {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
  color: rgba(194, 134, 134, 0.8);
  padding-right: 10px;
}

.blog-up{
  padding-top: 98px;
  display: flex;
  justify-content: flex-end;
}