.blog-title{
    margin-top: 52px;
    font-weight: 500;
    font-size: 36px;
    line-height: 148%;
    color: #6E8254;
}
.blog__topics-blog button{
    color: #6E8254;
    border: 1px solid #6E8254;
}
.blog__topic-active1 {
    background: #6E8254 !important;
    color: #fff !important;
    font-weight: 500 !important;
}
.flex-blog__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

