.flex-wrapper {
  display: flex;
  padding-top: 12px;
  justify-content: space-between;
  align-items: center;
}

.shop-card__item {
  background: #ffffff;
  box-shadow: 2px 2px 40px rgba(107, 64, 64, 0.1);
  border-radius: 4px;
  width: 270px;
  margin-bottom: 52px;
  position: relative;
}

.shop-card__item:hover {
  box-shadow: 2px 2px 40px rgba(107, 64, 64, 0.3);
}

.shop-card__content {
  padding: 20px 20px 28px 20px;
  text-align: center;
}

.shop-card__icons:hover {
  filter: drop-shadow(2px 2px 40px rgba(0, 0, 0, 0.2));
}
.shop-card__icons {
  text-align: center;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
}

.shop-card__title {
  cursor: pointer;
  height: 52px;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #878787;
  padding-bottom: 12px;
}

.shop-card__price {
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #c28686;
}

.shop-card__image {
  width: 270px;
  height: 240px;
}

.shop-card-button {
  border: 1px solid rgba(194, 134, 134, 0.6);
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(194, 134, 134, 0.8);
  background-color: #fff;
  width: 135px;
  height: 50px;
}

.card-new {
  position: absolute;
  top: 0;
  left: 16px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #c28686;
  padding: 7px 20px 8px 20px;
}

.card-basket {
  padding-top: 16px;
}

.shop-card__item:hover p{
  color: #6B4040;
}

.shop-card__item:hover button{
  background: #C28686;
  color: #FFFFFF;
}

.shop-card__item:active button{
  background: #865454;
  color: #FFFFFF;
}

.id{
  display: none;
}

.shop_favorite:hover {
  stroke: #C28686;
}
.shop_favorite:active ,
.shop_favorite:focus {
  fill: #C28686;
  stroke: #C28686;
}
.shop_favorite{
  margin-top: 13px;
  fill: none;
  cursor: pointer;
  stroke: #878787;
}


