.discount {
  /* padding-top: 85px; */
  width: 100%;
}

.discount__title {
  text-align: center;
  padding: 79px 0 60px 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 130%;
  color: #878787;
  background-image: url(../../../../img/discount-image.jpg);
  background-repeat: no-repeat;
}

.discount-wrapper{
  background: #F6F8FA;

}
