.liked-navigation__links {
  padding-top: 153px;
}

.main-heading-liked {
  color: #c28686;
  font-weight: 500;
  font-size: 36px;
  line-height: 148%;
  text-align-last: left;
  padding-top: 68px;
  padding-bottom: 60px;
}
