#header{
  position:fixed;
  width: 100%;
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 20;
  border-bottom: none;
}

.header{
  display: flex;
  justify-content: space-between;
}

/* логотип */
.logo{
  margin-top: 32px;
  margin-bottom: 33px;
}

.logo a{
  display: flex;
  align-items: center;
}

/*  Навбар */
.navbar{
  display: table;
  margin-top: 40px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__links:after {
  content: "";
  display: table;
  clear: both;
}

.nav__links li{
  float: left;
  position: relative;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 500;
}

.nav__link-item:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #387732;
  cursor: pointer;
}

.nav__link-item {
  /* color: rgba(255, 255, 255, 0.8); */
  color: #585858;
  font-weight: normal;
}

.nav__link-item:hover {
  /* color: #fff; */
  /* color: #4F4F4F; */
  font-weight: 500;
}

.nav__links li:first-child {
  margin-left: 0;
}

.nav__link-shop img {
  margin-left: 10px;
}

.nav__link-items{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  margin-top: 10px;
  padding-left: 5px;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 170px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin :0 0;
  transition: .5s ease-in-out;
}

.nav__link-items li {
  margin: 0;
}
.nav__link-items li a:hover {
  padding-bottom: 0px;
  border-bottom: none;
}
.nav__link-items li a {
  display: block;
  text-align: left;
  margin: 12px 0px;
}

.nav__links>li:hover .nav__link-items {
  opacity: 1;
  transform: scaleY(1);
}




/* Поиск */

.header-search,
.header-favorites,
.header-basket {
  cursor: pointer;
}
.header-favorites,
.header-basket {
  margin-left: 32px;
}

.goods{
  position: relative;
}

.goods__number{
  /* color: #E0E0E0;
  border-radius: 50%;
  padding: 2px 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  background-color: #25733B;
  margin-bottom: 10px;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px; */

  display: flex;
  width: 23px;
  color: #E0E0E0;
  border-radius: 50%;
  padding: 2px 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  background-color: #25733B;
  margin-bottom: 10px;
  position: absolute;
  margin-top: -37px;
  margin-left: 11px;
  height: 23px;
  align-items: center;
  justify-content: center;
  
}


/*
.search__input {
  color: #9A9A9A;
  font-size: 16px;
  padding-left: 41px;
  font-weight: 500;
  background: url(/src/img/search.svg) no-repeat 12px 12px;
  background-color: #eeeeee;
  border-radius: 8px;
  width: 206px;
  height: 40px;
  border: none;
  outline: none;
}

.search__input:focus,
.search__input:hover {
  background-color: #C2C2C2;
} */





/* для главной страницы */
.navigationHeader {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.navigation__link{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigationHeader a {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  margin-top: 11px;
  color: #878787;
}

.navigation__link-vk{
  margin-left: 41px;
}
.navigation__link-inst,
.navigation__link-telegram {
  margin-left: 15px;
}

.navigation__link-vk,
.navigation__link-inst,
.navigation__link-telegram {
  width: 31px;
  height: 31px;
  background-color:grey;
  border-radius: 50%;
  text-align: center;
  /* display: table-cell; */
  /* vertical-align: middle; */
  /* line-height: 27px; */
}
.navigation__link-vk img,
.navigation__link-inst img,
.navigation__link-telegram img {
  vertical-align: middle;
}

.logo__name {
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #213C1F;
  /* color: #fff; */
  margin-left: 7px;
}

.logo__name span{
  /* color: #fff; */
  color: #387732;
}

/* для страницы магазина */

.navigation__shop{
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

/* .header{ */
/* background-color: rgba(70, 70, 70, 0.466) !important; */
/* } */


.navigation__search-icon:hover,
.navigation__favorites-icon:hover{
  /* fill: #C28686; */
  stroke: #C28686;
  /* color: #C28686; */
}
.navigation__search-icon ,
.navigation__favorites-icon {

  fill: none;
  stroke: #878787;
  /* color: #878787; */
  /* stroke-width: 1.5px; */
}

.navigation__basket-icon {
  fill: none;
  stroke: #878787;
}
.navigation__basket-icon:hover {
  fill: none;
  stroke: #C28686;
}