header{
  position:fixed;
  width: 100%;
  /* background-color: transparent; */
  background-color: rgba(3, 61, 20, 0.8);
  z-index: 20;
}

.header{
  display: flex;
  justify-content: space-between;

}

/* логотип */
.logo{
  margin-top: 33px;
  margin-bottom: 33px;
}

/*  Навбар */
.navbar{
  display: table;
  margin-top: 41px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__links:after {
  content: "";
  display: table;
  clear: both;
}

.nav__links li{
  float: left;
  position: relative;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 500;
}

.nav__links li a:hover{
  padding-bottom: 2px;
  border-bottom: 2px solid #FCCF62;
  cursor: pointer;
}

.nav__links li a {
  color: #9AA688;
}

.nav__links li a:hover {
  color: #E7EFD9;
}

.nav__links li:first-child {
  margin-left: 0;
}

.nav__link-shop img{
  margin-left: 10px;
}

.nav__link-items{
  background: #273037;
  position: absolute;
  margin-top: 10px;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 125px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin :0 0;
  transition: .5s ease-in-out;
}

.nav__link-items li {
  margin: 0;
}
.nav__link-items li a:hover {
  padding-bottom: 0px;
  border-bottom: none;
}
.nav__link-items li a {
  display: block;
  text-align: center;
  margin: 15px 25px; 
}

.nav__links>li:hover .nav__link-items {
  opacity: 1;
  transform: scaleY(1);
}


/* Поиск */

.navigation {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.search, .favorites, .goods {
  cursor: pointer;
}
.favorites, .goods {
  cursor: pointer;
  margin-left: 32px;
}

.goods{
  position: relative;
}

.goods__number{
  color: #E0E0E0;
  border-radius: 50%;
  padding: 2px 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  background-color: #25733B;
  margin-bottom: 10px;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
}


/*
.search__input {
  color: #9A9A9A;
  font-size: 16px;
  padding-left: 41px;
  font-weight: 500;
  background: url(/src/img/search.svg) no-repeat 12px 12px;
  background-color: #eeeeee;
  border-radius: 8px;
  width: 206px;
  height: 40px;
  border: none;
  outline: none;
}

.search__input:focus,
.search__input:hover {
  background-color: #C2C2C2;
} */
