.thank {
  padding-top: 245px;
  padding-bottom: 257px;
  text-align: center;
}

.main-heading-thank {
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #c28686;
}

.thank-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #878787;
  padding-top: 24px;
  padding-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.button {
  width: 174px;
  height: 56px;
  border: 1px solid rgba(194, 134, 134, 0.8);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.button--main {
  border: 1px solid rgba(194, 134, 134, 0.8);
  background: #ffffff;
  color: #C28686;
}

.button--main:hover{
  background: #9E6A6A;
  color: #ffffff;
}

.button--default{
  background: #C28686;
}

.button--default:hover {
  background: #9E6A6A;
  border: 1.2px solid #ffffff;
  color: #ffffff;
}
