.slider{
  background-image: url("../../../../img/slider_bg.jpg");
  height: 1000px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 140px;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-end;
}

.swiper-pagination-bullet{
  width: 320px !important;
  height: 1px !important;
  border-radius: 0px !important;
  background-color:rgba(255, 255, 255, 0.7) !important;
}

.swiper-button-disabled{
  opacity: 0 !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.slide__img{
  padding-top: 120px;
  /* padding-bottom: 140px; */
}
.slider__title{
  padding-top: 160px;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  color: rgba(255, 255, 255, 0.8);
}

.slide__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}

.slide__text {
  font-size: 32px;
  line-height: 110%;
  color: #fff;
}

.slide__btn{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
  border: 1.2px solid rgba(255, 255, 255, 0.8);
  padding: 18px 55px;
}