.main{
  background: url(../../../img/main_bg.jpg) no-repeat center center;
  width:100%;
  height:692px;
}

.main{
  padding-top: 192px;
}

.main__title{
  font-size: 60px;
  width: 50%;
  color: #fff;
  /* font-family: Roboto;
  font-style: normal; */
  font-weight: bold;
  line-height: 114%;
}

.main__subtitle{
  display: block;
  margin-top: 16px;
  font-size: 20px;
  line-height: 128%;
  color: rgba(255, 255, 255, 0.7);
}

.main__btn {
  margin-top: 49px;
}

.main__btn button{
  font-size: 20px;
  line-height: 128%;
  color: #fff;
  border-radius: 4px;
}

.main__btn-info{
  background-color: #387732;
  padding: 18px 70px;
  border: none;
  margin-right: 60px;
}
.main__btn-shop {
  padding: 17px 54px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

/* секция с цифрами */

.numbers {
  padding-top: 180px;
  padding-bottom: 204px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.humbers__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
  color: rgba(67, 41, 41, 0.9);
  padding-bottom: 80px;
}

.numbers__items {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 162px;
}

.numbers__item-heading {
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 36px;
  line-height: 148%;
  color: rgba(67, 41, 41, 0.9);
}

.numbers__item-description {
  font-weight: normal;
  font-size: 20px;
  line-height: 148%;
  color: rgba(67, 41, 41, 0.6);
}

/* секция с видео */

.blockWithVideo {
  display: flex;
  height: 500px;
  background: #C28686;
  background-image: url(/src/img/with_video_background.png);
}

.sectionWithVideo {
  position: relative;
  top: 90px;
  width: 50%;
  height: 320px;
  border-radius: 4px;
}

.video {
  position: relative;
  left: 18%;
  height: 320px;
  width: 64%;
}

.textAndButton {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 161px;
  left: 25px;
  height: 178px;
  width: 452px;
}

.motivationText {
  position: relative;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.buttonToShop {
  position: relative;
  height: 62px;
  width: 206px;
  top: 32px;
  background: transparent;
  font-size: 20px;
  line-height: 128%;
  text-align: center;
  color: #FFFFFF;

  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 4px;
}

.buttonToShop:hover {
  background: rgba(23, 23, 23, 0.18);
  border: 2px solid rgba(255, 255, 255, 0.8);
}