.test {
  text-align: center;
  padding-top: 140px;
  height: 919px;
  padding-bottom: 237px;
  background: url(./test__background.png) no-repeat center center;
  font-family: "Roboto", sans-serif;
}

.test__heading {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
  padding-bottom: 42px;
}

.test__description {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(62, 53, 32, 0.6);
  width: 459px;
  margin: 0 auto;
  padding-bottom: 76px;
}


.section__score{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button__quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #949494;
  background: #ffffff;
  box-shadow: 2px 2px 52px rgba(137, 114, 114, 0.2);
  border: 1px solid #c1c1c1;
  border-radius: 48px;
}

.button__quizz:hover {
  border: 1px solid #8c8c8c;
}

/* .button__quizz:active {
    background: #7bb970;
    color: #ffffff;
  } */

/* .button__quizz:active {
    background: #db6666;
    color: #FFFFFF;
  } */

.answer__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.question__hidden{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 320px;
  margin-top: 16px;
  /* margin: 0 auto; */
  /* cursor: pointer; */
  padding: 50px 30px 50px 30px;
  background: url(../../../img/quizz_card.jpg);
  color: #fff;
  box-shadow: 2px 2px 52px rgba(137, 114, 114, 0.2);
  border-radius: 4px;
}

.question__hidden-text{
  font-size: 20px;
  font-weight: 500;
  line-height: 128%;
  color: #fff;
  margin-bottom: 36px;
}

.question__text,
.refresh_text {
  font-size: 20px;
  font-weight: 500;
  line-height: 128%;
  color: #c28686;
  margin-bottom: 36px;
}


.refresh_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #949494;
  background: #ffffff;
  box-shadow: 2px 2px 52px rgba(137, 114, 114, 0.2);
  border: 1px solid #c1c1c1;
  border-radius: 48px;
}

.quizz__section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.question__section{
  width: 288px;
  height: 352px;
  margin: 0 52px;
  padding: 52px 30px 94px 30px;
  background: #ffffff;
  box-shadow: 2px 2px 52px rgba(137, 114, 114, 0.2);
  border-radius: 4px;
}